{{#data-table}}
		{{!-- Paste your table html here itself --}}
		<table>
			<thead>
				<tr>
				
					<th>Id</th>
					<th>Name</th>
					<th>Age</th>
				</tr>
			</thead>
			<tbody>
					<tr> 
						<td>1</td>
						<td>Name 1</td>
						<td>20</td>
					</tr>
					<tr> 
						<td>2</td>
						<td>Name 2</td>
						<td>22</td>
					</tr>
					<tr> 
						<td>3</td>
						<td>Name 3</td>
						<td>25</td>
					</tr>
		    </tbody>

		</table>
{{/data-table}}
